
@{
    ViewData["Title"] = "CustomerNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-2-2">
    <div class="container page-section-ptb">
        <br />
        <h3>
            We're very sorry but the customer you're looking for cannot be found.
            Are you sure you have all information put correctly?
        </h3>
    </div>
</body>

