@{
    ViewData["Title"] = "Contact";
}
<body class="bg-2-2">
    <div class="container page-section-ptb ">
        <br />
        <br />
        <div class="avatarRow customMessage avatarContainer">
            <div>
                <h3>Dimitar Mihov</h3>
            </div>
            <hr>
            <br />
            <div class="avatarColumn contactAvatar">
                <img src="~/images/mitavatar16Vin2.jpg" alt="stack photo" class="img" height="65%" width="65%">
            </div>
            <div class="avatarColumn customLinks">
                <br />
                <h3>Contact Me:</h3>
                <br />
                <ul>
                    <h4>
                        <li><i class="fas fa-mobile-alt"></i> &nbsp; +359 89 480 7339</li>
                        <br />
                        <li><i class="fas fa-envelope"></i> &nbsp; dimitar.mihov.bg@gmail.com</li>
                        <br />
                        <li><i class="fab fa-gitlab"></i> &nbsp; <a href="https://github.com/dimitarmihovbg">GitHub / Dimitar Mihov</a></li>
                        <br />
                        <li><i class="fab fa-linkedin"></i> &nbsp; <a href="https://linkedin.com/in/dmihov">LinkedIn Profile</a></li>
                        <br />
                        <li><i class="fas fa-map-marker-alt"></i> &nbsp; Burgas, Bulgaria</li>
                    </h4>
                </ul>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</body>