@{
    ViewData["Title"] = "Access denied";
}


<body class="bg-2-2">
    <div class="container page-section-ptb customMessage">
        <br />
        <div class="customContainer innerContainer">
            <p>
                Dear Member, this zone is definitely not permitted for your level of Access!
                <br />
                <br />
                Sometimes life does handle us such situations, huh...
                <br />
                <br />
                BUT Since you've made it to this special page it means a star in the sky still loves you!
                <br />
                And the good news is that since you're lucky i'll give you a secret!
                <br />
                <br />
                Since this website is for Demo-Only purposes, the default registration role is set to Manager.
                Now of course this is to enable easy previewship of the core functionality to our dear HR agents...
                <br />
                <br />
                ...But this also means that if you <a href="https://carenting.eu/Account/Register">REGISTER</a> 
                right now you Shall be granted that, which the Balrog from LOTR:FOT was denied by Gandalf -- a passage!
                <br />
                <br />
                Or should i say you "Shall Pass" <i>(pun intented!)</i> the zone of restriction you have faced before?
                <br />
                Either way Enjoy your stay!
            </p>
        </div>
    </div>
</body>
