@{
    ViewData["Title"] = "Confirm email";
}

<body class="bg-2-2">
    <div class="container page-section-ptb">
        <h3>@ViewData["Title"]</h3>       
            <p>
                Thank you for confirming your email.
            </p>
        </div>
</body>
