@{
    ViewData["Title"] = "Locked out";
}
<body class="bg-2-2">
    <br>
    <div class="container page-section-ptb">
        <header>
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </header>
        </div>
</body>
