@model CarRentingEu.Web.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<body class="bg-2-2">
    <div class="container page-section-ptb">
        <br />
        <h2>@ViewData["Title"]</h2>
        <h4>Reset your password.</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="tp-caption button red tp-resizeme border">Reset</button>
                </form>
            </div>
        </div>
    </div>
</body>

        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
