@{
    ViewData["Title"] = "Signed out";
}

<body class="bg-2-2">
    <div class="container page-section-ptb">
        <br />
        <h2>@ViewData["Title"]</h2>
        <p>
            You have successfully signed out.
        </p>
    </div>
</body>
