
@{
    ViewData["Title"] = "RentalNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-2-2">    
    <div class="container page-section-ptb">
        <br />
        <h3>RentalNotFound</h3>
    </div>
</body>

